@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: sans-serif;
}

/* Set the background image for the main container */
.main-container {
  background-image: url('./images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Minimum height for the main container */
}

